<main class="page__main page__main--login">
  <div class="page__login-container container">
    <section class="login">
      <h1 class="login__title">Sign in</h1>
      <form class="login__form form"
        [formGroup]="loginSection"
        action="#" method="post"
      >
        <div class="login__input-wrapper form__input-wrapper">
          <label class="visually-hidden" for="emailInput">E-mail</label>
          <input class="login__input form__input" id="emailInput" type="email" name="email" placeholder="Email" formControlName="email">
        </div>
        <div class="login__input-wrapper form__input-wrapper">
          <label class="visually-hidden" for="passwordInput">Password</label>
          <input class="login__input form__input" id="passwordInput" type="password" name="password" placeholder="Password" formControlName="password">
        </div>
        <button class="login__submit form__submit button"
          type="submit"
          [disabled]="!loginSection.valid"
        >
          Sign in
        </button>
      </form>
    </section>
    <section class="locations locations--login locations--current">
      <div class="locations__item">
        <a class="locations__item-link" href="#">
          <span>Amsterdam</span>
        </a>
      </div>
    </section>
  </div>
</main>
