<div class="page page--gray page--main">
  <header class="header">
    <div class="container">
      <div class="header__wrapper">
        <div class="header__left">
          <a class="header__logo-link header__logo-link--active" routerLink="">
            <img class="header__logo" src="./img/logo.svg" alt="6 cities logo" width="81" height="41">
          </a>
        </div>
        <nav class="header__nav">
          <ul class="header__nav-list">
            <li class="header__nav-item user">
              <a class="header__nav-link header__nav-link--profile" routerLink="/favorites">
                <div class="header__avatar-wrapper user__avatar-wrapper">
                </div>
                <span class="header__user-name user__name">Oliver.conner&#64;gmail.com</span>
                <span class="header__favorite-count">3</span>
              </a>
            </li>
            <li class="header__nav-item">
              <a class="header__nav-link" href="#">
                <span class="header__signout">Sign out</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <router-outlet></router-outlet>
  <!-- <app-main></app-main> -->

</div>
