<main class="page__main page__main--index">
  <h1 class="visually-hidden">Cities</h1>
  <div class="tabs">
    <ng-container *ngIf="(currentCityName$ | async) as currentCityName">
      <app-cities [citiesNames]="citiesNames" [currentCityName]="currentCityName"></app-cities>
    </ng-container>
  </div>
  <div class="cities">
    <div class="cities__places-container container">
      <section class="cities__places places">
        <h2 class="visually-hidden">Places</h2>

        <ng-container *ngIf="(currentCityName$ | async) as currentCityName">
          <ng-container *ngIf="(cityOffers$ | async) as cityOffers">
            <b class="places__found">{{ cityOffers?.length }} places to stay in {{ currentCityName }}</b>

            <!-- places-list component -->
            <app-places-list [cityOffers]="cityOffers" [placesListPageName]="placesListPage.Main" [currentCityName]="currentCityName"></app-places-list>

            <!-- map component -->
            <div class="cities__right-section">
              <app-map [cityName]="currentCityName" [cityOffers]="cityOffers"></app-map>
            </div>
          </ng-container>
        </ng-container>

        <form class="places__sorting" action="#" method="get">
          <!-- форма сортировки -->
        </form>
      </section>
    </div>
  </div>
</main>
